@use 'globals' as *;

@media screen and (min-width: $breakpoint-tablet) {
    main {
        width: 65%;
        margin: 5.5rem auto;
    }

    .form {
        width: 100%;

        &__offer {
            p {
                width: 100%;
            }
        }
        
        &__info-form {
            padding: $spacing-400 $spacing-500;
            gap: $spacing-300;

            &__fields {
                gap: $spacing-300;
            }
        }

        &__btn {
            width: 100%;
        }
    }
}

@media screen and (min-width: $breakpoint-laptop) {
    body {
        background: url('../images/bg-intro-desktop.png') $red-400 no-repeat center / cover;
    }

    main {
        flex-direction: row;
        text-align: start;
        gap: $spacing-600;
        width: 80%;
    }

    .form {
        &__offer {
            text-align: center;
        }

        &__info-form {
            .terms-services {
                text-align: center;
            }
        }
    }
}