@use 'variables' as *;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin heading {
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.3;
    letter-spacing: -0.3px;

    @media screen and (min-width: $breakpoint-tablet) {
        font-size: 3.125rem;
        line-height: 1.1;
        letter-spacing: -0.5px;
    }
}

@mixin text {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.65;
    letter-spacing: 0rem;
}

@mixin form-text($font-weight, $letter-spacing) {
    font-weight: $font-weight;
    font-size: 0.938rem;
    line-height: 1.75;
    letter-spacing: $letter-spacing;
}

@mixin terms-conditions($font-weight) {
    font-weight: $font-weight;
    font-size: 0.688rem;
    line-height: 1.9;
    letter-spacing: 0px;
}