$white: #fff;
$black: #000;

$gray-900: #3d3b48;
$gray-200: #dedede;

$purple-700: #5354a4;
$purple-400: #a6a1cf;
$purple-350: #bab7d4;

$green-400: #38cc8b;
$green-300: #77e2b3;

$red-400: #ff7979;

$spacing-0: 0rem;
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-800: 4rem;

$breakpoint-tablet : 48rem;
$breakpoint-laptop: 64rem;